body {
	margin: 0;
	padding: 0;
	
    color:whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.container {
	position: relative;
	max-width: 600px;
	margin: 0 auto;
	padding: 150px 20px;
	text-align: center;
    background: rgba(0, 0, 0, 0.5);

}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
    color: whitesmoke;
}

.team-members {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color:whitesmoke;
}

li {
	font-size: 24px;
	margin-bottom: 20px;
	margin-right: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 10px;
	object-fit: cover;
}
